PROJECT_PATH=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
NOTIFICATION_PROJECT_PATH=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
HERE_MAP_API_KEY=
IS_CLOUD=
API_KEY_PATH=
SERVER_REGION=
MAIL_SEND=
ENABLE_SMS_NOTIFICATION=
SHEDLOCK_EMAIL_START=
SHEDLOCK_EMAIL_STOP=
IS_NEXT_MEDICAL_REVIEW_JOB=
IS_NEXT_BP_JOB=
IS_NEXT_BG_JOB=
SHEDLOCK_OUTBOUND_START=
SHEDLOCK_OUTBOUND_STOP=
SHEDLOCK_SMS_START=
SHEDLOCK_SMS_STOP=
SWAGGER_ENABLED=
LOCAL_FILE_SYSTEM_PATH=
IS_PRESCRIPTION_SIGNATURE_UPLOADED_TO_S3=