PROJECT_PATH=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
NOTIFICATION_PROJECT_PATH=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
SERVER_REGION=
MAIL_SEND=
ENABLE_SMS_NOTIFICATION=
SHEDLOCK_EMAIL_START=
SHEDLOCK_EMAIL_STOP=
IS_NEXT_MEDICAL_REVIEW_JOB=
IS_NEXT_BP_JOB=
IS_NEXT_BG_JOB=
SHEDLOCK_OUTBOUND_START=
SHEDLOCK_OUTBOUND_STOP=
SHEDLOCK_SMS_START=
SHEDLOCK_SMS_STOP=
SWAGGER_ENABLED=
LOCAL_FILE_SYSTEM_PATH=
IS_PRESCRIPTION_SIGNATURE_UPLOADED_TO_S3=
IS_PRESCRIPTION_SIGNATURE_UPLOADED_TO_MINIO=
URL_MINIO=
CONSOLE_URL_MINIO=
ACCESS_NAME_MINIO=
ACCESS_SECRET_MINIO=
BUCKET_NAME_MINIO=
ENABLE_SMS_NOTIFICATION_TWILIO=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONENO=
ENABLE_SMS_NOTIFICATION_SNS=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_PASSWORD=
MAIL_USER=
SENDGRID_API_KEY=
APP_VERSION=
EMAIL_APP_URL=
RABBITMQ_QUEUE_NAME=
RABBITMQ_EXCHANGE_NAME=
RABBITMQ_ROUTING_KEY_NAME=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
ENABLE_FHIR=